In [27]:
import allel
import numpy as np

In [8]:
allel.vcf_to_dataframe('sample.vcf')

,CHROM,POS,ID,REF,ALT_1,ALT_2,ALT_3,QUAL,FILTER_PASS
0,MN908947.3,210,.,G,T,NaN,NaN,33555.601562,False
1,MN908947.3,241,.,C,T,NaN,NaN,33906.500000,False
2,MN908947.3,3037,.,C,T,NaN,NaN,50108.699219,False
3,MN908947.3,4181,.,G,T,NaN,NaN,136845.000000,False
4,MN908947.3,4684,.,T,C,NaN,NaN,25246.300781,False
5,MN908947.3,6402,.,C,T,NaN,NaN,290010.000000,False
6,MN908947.3,7124,.,C,T,NaN,NaN,57994.500000,False
7,MN908947.3,8752,.,C,T,NaN,NaN,49285.300781,False
8,MN908947.3,8986,.,C,T,NaN,NaN,58408.500000,False
9,MN908947.3,9053,.,G,T,NaN,NaN,59316.699219,False
10,MN908947.3,10029,.,C,T,NaN,NaN,59096.699219,False
11,MN908947.3,11201,.,A,G,NaN,NaN,306107.000000,False
12,MN908947.3,11332,.,A,G,NaN,NaN,692763.000000,False
13,MN908947.3,11663,.,C,T,NaN,NaN,163741.000000,False
14,MN908947.3,14408,.,C,T,NaN,NaN,102989.000000,False
15,MN908947.3,15451,.,G,A,NaN,NaN,173250.000000,False
16,MN908947.3,16466,.,C,T,NaN,NaN,221414.000000,False
17,MN908947.3,17236,.,A,G,NaN,NaN,150382.000000,False
18,MN908947.3,19220,.,C,T,NaN,NaN,212634.000000,False
19,MN908947.3,20451,.,C,T,NaN,NaN,56280.398438,False
20,MN908947.3,21618,.,C,G,NaN,NaN,60068.300781,False
21,MN908947.3,22028,.,GAGTTCA,G,NaN,NaN,23241.900391,False
22,MN908947.3,22486,.,A,T,NaN,NaN,103499.000000,False
23,MN908947.3,22917,.,T,G,NaN,NaN,67625.000000,False
24,MN908947.3,22995,.,C,A,NaN,NaN,58800.300781,False
25,MN908947.3,23403,.,A,G,NaN,NaN,239656.000000,False
26,MN908947.3,23604,.,C,G,NaN,NaN,62507.898438,False
27,MN908947.3,24410,.,G,A,NaN,NaN,59674.800781,False
28,MN908947.3,25469,.,C,T,NaN,NaN,93090.703125,False
29,MN908947.3,26107,.,G,C,NaN,NaN,36383.300781,False
30,MN908947.3,26759,.,A,G,NaN,NaN,48416.800781,False
31,MN908947.3,26767,.,T,C,NaN,NaN,102266.000000,False

In [9]:
#this is a dict containing numpy arrays
#callset = allel.read_vcf('sample.vcf')
#sorted(callset.keys())

['calldata/GT',
 'samples',
 'variants/ALT',
 'variants/CHROM',
 'variants/FILTER_PASS',
 'variants/ID',
 'variants/POS',
 'variants/QUAL',
 'variants/REF']

In [10]:
with open('sample.vcf', mode = 'r') as vcf:
    print(vcf.read())

##fileformat=VCFv4.1
##fileDate=20211021
##source=freeBayes v9.9.2-27-g5d5b8ac
##reference=MN908947.3.fasta
##phasing=none
##commandline="freebayes -b sample.bam -f MN908947.3.fasta -v sample.vcf --ploidy 1 --min-alternate-fraction 0.5 --min-coverage 10"
##INFO=<ID=NS,Number=1,Type=Integer,Description="Number of samples with data">
##INFO=<ID=DP,Number=1,Type=Integer,Description="Total read depth at the locus">
##INFO=<ID=DPB,Number=1,Type=Float,Description="Total read depth per bp at the locus; bases in reads overlapping / bases in haplotype">
##INFO=<ID=AC,Number=A,Type=Integer,Description="Total number of alternate alleles in called genotypes">
##INFO=<ID=AN,Number=1,Type=Integer,Description="Total number of alleles in called genotypes">
##INFO=<ID=AF,Number=A,Type=Float,Description="Estimated allele frequency in the range (0,1]">
##INFO=<ID=RO,Number=1,Type=Integer,Description="Reference allele observation count, with partial observations recorded fractionally">
##INFO=<ID=AO,Number=A,Type=Integer,Description="Alternate allele observations, with partial observations recorded fractionally">
##INFO=<ID=PRO,Number=1,Type=Float,Description="Reference allele observation count, with partial observations recorded fractionally">
##INFO=<ID=PAO,Number=A,Type=Float,Description="Alternate allele observations, with partial observations recorded fractionally">
##INFO=<ID=QR,Number=1,Type=Integer,Description="Reference allele quality sum in phred">
##INFO=<ID=QA,Number=A,Type=Integer,Description="Alternate allele quality sum in phred">
##INFO=<ID=PQR,Number=1,Type=Float,Description="Reference allele quality sum in phred for partial observations">
##INFO=<ID=PQA,Number=A,Type=Float,Description="Alternate allele quality sum in phred for partial observations">
##INFO=<ID=SRF,Number=1,Type=Integer,Description="Number of reference observations on the forward strand">
##INFO=<ID=SRR,Number=1,Type=Integer,Description="Number of reference observations on the reverse strand">
##INFO=<ID=SAF,Number=A,Type=Integer,Description="Number of alternate observations on the forward strand">
##INFO=<ID=SAR,Number=A,Type=Integer,Description="Number of alternate observations on the reverse strand">
##INFO=<ID=SRP,Number=1,Type=Float,Description="Strand balance probability for the reference allele: Phred-scaled upper-bounds estimate of the probability of observing the deviation between SRF and SRR given E(SRF/SRR) ~ 0.5, derived using Hoeffding's inequality">
##INFO=<ID=SAP,Number=A,Type=Float,Description="Strand balance probability for the alternate allele: Phred-scaled upper-bounds estimate of the probability of observing the deviation between SAF and SAR given E(SAF/SAR) ~ 0.5, derived using Hoeffding's inequality">
##INFO=<ID=AB,Number=A,Type=Float,Description="Allele balance at heterozygous sites: a number between 0 and 1 representing the ratio of reads showing the reference allele to all reads, considering only reads from individuals called as heterozygous">
##INFO=<ID=ABP,Number=A,Type=Float,Description="Allele balance probability at heterozygous sites: Phred-scaled upper-bounds estimate of the probability of observing the deviation between ABR and ABA given E(ABR/ABA) ~ 0.5, derived using Hoeffding's inequality">
##INFO=<ID=RUN,Number=A,Type=Integer,Description="Run length: the number of consecutive repeats of the alternate allele in the reference genome">
##INFO=<ID=RPP,Number=A,Type=Float,Description="Read Placement Probability: Phred-scaled upper-bounds estimate of the probability of observing the deviation between RPL and RPR given E(RPL/RPR) ~ 0.5, derived using Hoeffding's inequality">
##INFO=<ID=RPPR,Number=1,Type=Float,Description="Read Placement Probability for reference observations: Phred-scaled upper-bounds estimate of the probability of observing the deviation between RPL and RPR given E(RPL/RPR) ~ 0.5, derived using Hoeffding's inequality">
##INFO=<ID=EPP,Number=A,Type=Float,Description="End Placement Probability: Phred-scaled upper-bounds estimate of the probability of observing the deviation between EL and ER given E(EL/ER) ~ 0.5, derived using Hoeffding's inequality">
##INFO=<ID=EPPR,Number=1,Type=Float,Description="End Placement Probability for reference observations: Phred-scaled upper-bounds estimate of the probability of observing the deviation between EL and ER given E(EL/ER) ~ 0.5, derived using Hoeffding's inequality">
##INFO=<ID=DPRA,Number=A,Type=Float,Description="Alternate allele depth ratio.  Ratio between depth in samples with each called alternate allele and those without.">
##INFO=<ID=ODDS,Number=1,Type=Float,Description="The log odds ratio of the best genotype combination to the second-best.">
##INFO=<ID=BVAR,Number=0,Type=Flag,Description="The best genotype combination in the posterior is variant (non homozygous).">
##INFO=<ID=GTI,Number=1,Type=Integer,Description="Number of genotyping iterations required to reach convergence or bailout.">
##INFO=<ID=TYPE,Number=A,Type=String,Description="The type of allele, either snp, mnp, ins, del, or complex.">
##INFO=<ID=CIGAR,Number=A,Type=String,Description="The extended CIGAR representation of each alternate allele, with the exception that '=' is replaced by 'M' to ease VCF parsing.  Note that INDEL alleles do not have the first matched base (which is provided by default, per the spec) referred to by the CIGAR.">
##INFO=<ID=NUMALT,Number=1,Type=Integer,Description="Number of unique non-reference alleles in called genotypes at this position.">
##INFO=<ID=MEANALT,Number=A,Type=Float,Description="Mean number of unique non-reference allele observations per sample with the corresponding alternate alleles.">
##INFO=<ID=LEN,Number=A,Type=Integer,Description="allele length">
##INFO=<ID=MQM,Number=A,Type=Float,Description="Mean mapping quality of observed alternate alleles">
##INFO=<ID=MQMR,Number=1,Type=Float,Description="Mean mapping quality of observed reference alleles">
##INFO=<ID=PAIRED,Number=A,Type=Float,Description="Proportion of observed alternate alleles which are supported by properly paired read fragments">
##INFO=<ID=PAIREDR,Number=1,Type=Float,Description="Proportion of observed reference alleles which are supported by properly paired read fragments">
##FORMAT=<ID=GT,Number=1,Type=String,Description="Genotype">
##FORMAT=<ID=GQ,Number=1,Type=Float,Description="Genotype Quality, the Phred-scaled marginal (or unconditional) probability of the called genotype">
##FORMAT=<ID=GL,Number=G,Type=Float,Description="Genotype Likelihood, log10-scaled likelihoods of the data given the called genotype for each possible genotype generated from the reference and alternate alleles given the sample ploidy">
##FORMAT=<ID=DP,Number=1,Type=Integer,Description="Read Depth">
##FORMAT=<ID=RO,Number=1,Type=Integer,Description="Reference allele observation count">
##FORMAT=<ID=QR,Number=1,Type=Integer,Description="Sum of quality of the reference observations">
##FORMAT=<ID=AO,Number=A,Type=Integer,Description="Alternate allele observation count">
##FORMAT=<ID=QA,Number=A,Type=Integer,Description="Sum of quality of the alternate observations">
#CHROM	POS	ID	REF	ALT	QUAL	FILTER	INFO	FORMAT	unknown
MN908947.3	210	.	G	T	33555.6	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=1052;CIGAR=1X;DP=1053;DPB=1053;DPRA=0;EPP=3.41487;EPPR=5.18177;GTI=0;LEN=1;MEANALT=1;MQM=59.9591;MQMR=60;NS=1;NUMALT=1;ODDS=7726.45;PAIRED=0.839354;PAIREDR=1;PAO=0;PQA=0;PQR=0;PRO=0;QA=37505;QR=37;RO=1;RPP=7.00647;RPPR=5.18177;RUN=1;SAF=647;SAP=123.894;SAR=405;SRF=1;SRP=5.18177;SRR=0;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:1053:1:37:1052:37505:-5,0
MN908947.3	241	.	C	T	33906.5	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=1047;CIGAR=1X;DP=1049;DPB=1049;DPRA=0;EPP=62.2457;EPPR=3.0103;GTI=0;LEN=1;MEANALT=1;MQM=59.9943;MQMR=60;NS=1;NUMALT=1;ODDS=7807.25;PAIRED=0.844317;PAIREDR=1;PAO=0;PQA=0;PQR=0;PRO=0;QA=37922;QR=74;RO=2;RPP=16.6178;RPPR=7.35324;RUN=1;SAF=599;SAP=50.2995;SAR=448;SRF=1;SRP=3.0103;SRR=1;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:1049:2:74:1047:37922:-5,0
MN908947.3	3037	.	C	T	50108.7	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=1560;CIGAR=1X;DP=1563;DPB=1563;DPRA=0;EPP=5.46573;EPPR=9.52472;GTI=0;LEN=1;MEANALT=1;MQM=59.966;MQMR=60;NS=1;NUMALT=1;ODDS=11537.9;PAIRED=0.825;PAIREDR=0.333333;PAO=0;PQA=0;PQR=0;PRO=0;QA=55795;QR=85;RO=3;RPP=3.21074;RPPR=9.52472;RUN=1;SAF=809;SAP=7.69289;SAR=751;SRF=0;SRP=9.52472;SRR=3;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:1563:3:85:1560:55795:-5,0
MN908947.3	4181	.	G	T	136845	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=4179;CIGAR=1X;DP=4184;DPB=4184;DPRA=0;EPP=41.1714;EPPR=3.0103;GTI=0;LEN=1;MEANALT=3;MQM=59.9938;MQMR=60;NS=1;NUMALT=1;ODDS=31509.8;PAIRED=0.881551;PAIREDR=0;PAO=0;PQA=0;PQR=0;PRO=0;QA=152279;QR=48;RO=2;RPP=27.4785;RPPR=7.35324;RUN=1;SAF=2253;SAP=58.5722;SAR=1926;SRF=1;SRP=3.0103;SRR=1;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:4184:2:48:4179:152279:-5,0
MN908947.3	4684	.	T	C	25246.3	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=1405;CIGAR=1X;DP=1797;DPB=1797;DPRA=0;EPP=2254.62;EPPR=87.0313;GTI=0;LEN=1;MEANALT=2;MQM=59.9473;MQMR=59.7442;NS=1;NUMALT=1;ODDS=5813.18;PAIRED=0.782206;PAIREDR=0.872123;PAO=0;PQA=0;PQR=0;PRO=0;QA=51104;QR=14215;RO=391;RPP=2507.59;RPPR=177;RUN=1;SAF=1338;SAP=2499.73;SAR=67;SRF=348;SRP=519.637;SRR=43;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:1797:391:14215:1405:51104:-5,0
MN908947.3	6402	.	C	T	290010	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=9167;CIGAR=1X;DP=9189;DPB=9189;DPRA=0;EPP=685.177;EPPR=3.44459;GTI=0;LEN=1;MEANALT=3;MQM=59.999;MQMR=60;NS=1;NUMALT=1;ODDS=66777.2;PAIRED=0.96771;PAIREDR=1;PAO=0;PQA=0;PQR=0;PRO=0;QA=327198;QR=185;RO=5;RPP=501.736;RPPR=3.44459;RUN=1;SAF=2807;SAP=2993.33;SAR=6360;SRF=2;SRP=3.44459;SRR=3;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:9189:5:185:9167:327198:-5,0
MN908947.3	7124	.	C	T	57994.5	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=1780;CIGAR=1X;DP=1783;DPB=1783;DPRA=0;EPP=3.49827;EPPR=9.52472;GTI=0;LEN=1;MEANALT=1;MQM=59.9854;MQMR=60;NS=1;NUMALT=1;ODDS=13353.7;PAIRED=0.86236;PAIREDR=0;PAO=0;PQA=0;PQR=0;PRO=0;QA=64622;QR=99;RO=3;RPP=6.56761;RPPR=9.52472;RUN=1;SAF=791;SAP=50.8364;SAR=989;SRF=3;SRP=9.52472;SRR=0;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:1783:3:99:1780:64622:-5,0
MN908947.3	8752	.	C	T	49285.3	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=1756;CIGAR=1X;DP=1997;DPB=1997;DPRA=0;EPP=47.6516;EPPR=3.92268;GTI=0;LEN=1;MEANALT=2;MQM=59.971;MQMR=60;NS=1;NUMALT=1;ODDS=11348.4;PAIRED=0.855353;PAIREDR=0.97479;PAO=0;PQA=0;PQR=0;PRO=0;QA=63608;QR=8646;RO=238;RPP=38.7481;RPPR=5.96642;RUN=1;SAF=742;SAP=94.499;SAR=1014;SRF=124;SRP=3.92268;SRR=114;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:1997:238:8646:1756:63608:-5,0
MN908947.3	8986	.	C	T	58408.5	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=1851;CIGAR=1X;DP=1853;DPB=1853;DPRA=0;EPP=60.3074;EPPR=0;GTI=0;LEN=1;MEANALT=2;MQM=59.9881;MQMR=0;NS=1;NUMALT=1;ODDS=13449;PAIRED=0.885467;PAIREDR=0;PAO=0;PQA=0;PQR=0;PRO=0;QA=65521;QR=0;RO=0;RPP=67.7967;RPPR=0;RUN=1;SAF=1211;SAP=385.5;SAR=640;SRF=0;SRP=0;SRR=0;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:1853:0:0:1851:65521:-5,0
MN908947.3	9053	.	G	T	59316.7	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=1819;CIGAR=1X;DP=1823;DPB=1823;DPRA=0;EPP=3.53675;EPPR=5.18177;GTI=0;LEN=1;MEANALT=2;MQM=59.9549;MQMR=60;NS=1;NUMALT=1;ODDS=13658.2;PAIRED=0.884552;PAIREDR=1;PAO=0;PQA=0;PQR=0;PRO=0;QA=65983;QR=11;RO=1;RPP=19.9153;RPPR=5.18177;RUN=1;SAF=918;SAP=3.3553;SAR=901;SRF=0;SRP=5.18177;SRR=1;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:1823:1:11:1819:65983:-5,0
MN908947.3	10029	.	C	T	59096.7	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=1819;CIGAR=1X;DP=1823;DPB=1823;DPRA=0;EPP=48.4035;EPPR=0;GTI=0;LEN=1;MEANALT=2;MQM=59.9566;MQMR=0;NS=1;NUMALT=1;ODDS=13607.5;PAIRED=0.880154;PAIREDR=0;PAO=0;PQA=0;PQR=0;PRO=0;QA=65776;QR=0;RO=0;RPP=3.21205;RPPR=0;RUN=1;SAF=872;SAP=9.72527;SAR=947;SRF=0;SRP=0;SRR=0;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:1823:0:0:1819:65776:-5,0
MN908947.3	11201	.	A	G	306107	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=9415;CIGAR=1X;DP=9426;DPB=9426;DPRA=0;EPP=69.0251;EPPR=7.35324;GTI=0;LEN=1;MEANALT=3;MQM=59.989;MQMR=60;NS=1;NUMALT=1;ODDS=70483.7;PAIRED=0.974084;PAIREDR=1;PAO=0;PQA=0;PQR=0;PRO=0;QA=340685;QR=74;RO=2;RPP=325.788;RPPR=7.35324;RUN=1;SAF=4815;SAP=13.6716;SAR=4600;SRF=2;SRP=7.35324;SRR=0;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:9426:2:74:9415:340685:-5,0
MN908947.3	11332	.	A	G	692763	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=21836;CIGAR=1X;DP=21879;DPB=21879;DPRA=0;EPP=12455.1;EPPR=5.18177;GTI=0;LEN=1;MEANALT=3;MQM=59.9929;MQMR=60;NS=1;NUMALT=1;ODDS=159514;PAIRED=0.940786;PAIREDR=0;PAO=0;PQA=0;PQR=0;PRO=0;QA=792312;QR=37;RO=1;RPP=3823.2;RPPR=5.18177;RUN=1;SAF=8058;SAP=3256.68;SAR=13778;SRF=1;SRP=5.18177;SRR=0;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:21879:1:37:21836:792312:-5,0
MN908947.3	11663	.	C	T	163741	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=10870;CIGAR=1X;DP=16819;DPB=16819;DPRA=0;EPP=4740.88;EPPR=5546.06;GTI=0;LEN=1;MEANALT=3;MQM=59.9969;MQMR=59.9916;NS=1;NUMALT=1;ODDS=37702.7;PAIRED=0.996228;PAIREDR=0.80526;PAO=0;PQA=0;PQR=0;PRO=0;QA=393305;QR=215139;RO=5931;RPP=5551.13;RPPR=4904.76;RUN=1;SAF=7542;SAP=3550.44;SAR=3328;SRF=962;SRP=5881.49;SRR=4969;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:16819:5931:215139:10870:393305:-5,0
MN908947.3	14408	.	C	T	102989	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=3194;CIGAR=1X;DP=3199;DPB=3199;DPRA=0;EPP=80.6802;EPPR=3.73412;GTI=0;LEN=1;MEANALT=3;MQM=59.9568;MQMR=60;NS=1;NUMALT=1;ODDS=23714;PAIRED=0.819349;PAIREDR=1;PAO=0;PQA=0;PQR=0;PRO=0;QA=114708;QR=85;RO=3;RPP=3.03477;RPPR=3.73412;RUN=1;SAF=1452;SAP=60.1865;SAR=1742;SRF=3;SRP=9.52472;SRR=0;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:3199:3:85:3194:114708:-5,0
MN908947.3	15451	.	G	A	173250	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=5318;CIGAR=1X;DP=5337;DPB=5337;DPRA=0;EPP=152.962;EPPR=24.725;GTI=0;LEN=1;MEANALT=3;MQM=59.9887;MQMR=60;NS=1;NUMALT=1;ODDS=39892.4;PAIRED=0.949229;PAIREDR=1;PAO=0;PQA=0;PQR=0;PRO=0;QA=193347;QR=370;RO=10;RPP=170.26;RPPR=24.725;RUN=1;SAF=2363;SAP=146.114;SAR=2955;SRF=0;SRP=24.725;SRR=10;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:5337:10:370:5318:193347:-5,0
MN908947.3	16466	.	C	T	221414	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=7380;CIGAR=1X;DP=7403;DPB=7403;DPRA=0;EPP=11009.1;EPPR=3.44459;GTI=0;LEN=1;MEANALT=3;MQM=59.9896;MQMR=60;NS=1;NUMALT=1;ODDS=50982.6;PAIRED=0.817615;PAIREDR=0.4;PAO=0;PQA=0;PQR=0;PRO=0;QA=260728;QR=185;RO=5;RPP=191.322;RPPR=6.91895;RUN=1;SAF=3696;SAP=3.05267;SAR=3684;SRF=3;SRP=3.44459;SRR=2;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:7403:5:185:7380:260728:-5,0
MN908947.3	17236	.	A	G	150382	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=7002;CIGAR=1X;DP=9385;DPB=9385;DPRA=0;EPP=321.876;EPPR=148.324;GTI=0;LEN=1;MEANALT=2;MQM=59.9997;MQMR=59.9958;NS=1;NUMALT=1;ODDS=34626.6;PAIRED=0.994145;PAIREDR=0.844472;PAO=0;PQA=0;PQR=0;PRO=0;QA=254406;QR=87069;RO=2379;RPP=21.1723;RPPR=8.70688;RUN=1;SAF=3738;SAP=72.6872;SAR=3264;SRF=1083;SRP=44.4216;SRR=1296;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:9385:2379:87069:7002:254406:-5,0
MN908947.3	19220	.	C	T	212634	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=6748;CIGAR=1X;DP=6754;DPB=6754;DPRA=0;EPP=1552.01;EPPR=5.18177;GTI=0;LEN=1;MEANALT=3;MQM=59.9917;MQMR=60;NS=1;NUMALT=1;ODDS=48960.8;PAIRED=0.957024;PAIREDR=0.75;PAO=0;PQA=0;PQR=0;PRO=0;QA=243141;QR=136;RO=4;RPP=153.564;RPPR=5.18177;RUN=1;SAF=1591;SAP=4095.07;SAR=5157;SRF=0;SRP=11.6962;SRR=4;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:6754:4:136:6748:243141:-5,0
MN908947.3	20451	.	C	T	56280.4	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=1923;CIGAR=1X;DP=2134;DPB=2134;DPRA=0;EPP=36.0296;EPPR=7.22675;GTI=0;LEN=1;MEANALT=3;MQM=59.9584;MQMR=60;NS=1;NUMALT=1;ODDS=12959;PAIRED=0.729069;PAIREDR=0.941748;PAO=0;PQA=0;PQR=0;PRO=0;QA=69970;QR=7320;RO=206;RPP=11.5573;RPPR=9.08199;RUN=1;SAF=1106;SAP=97.3231;SAR=817;SRF=74;SRP=38.4707;SRR=132;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:2134:206:7320:1923:69970:-5,0
MN908947.3	21618	.	C	G	60068.3	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=1867;CIGAR=1X;DP=1870;DPB=1870;DPRA=0;EPP=151.244;EPPR=0;GTI=0;LEN=1;MEANALT=3;MQM=59.985;MQMR=0;NS=1;NUMALT=1;ODDS=13831.2;PAIRED=0.869309;PAIREDR=0;PAO=0;PQA=0;PQR=0;PRO=0;QA=67008;QR=0;RO=0;RPP=19.4807;RPPR=0;RUN=1;SAF=1003;SAP=25.4822;SAR=864;SRF=0;SRP=0;SRR=0;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:1870:0:0:1867:67008:-5,0
MN908947.3	22028	.	GAGTTCA	G	23241.9	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=848;CIGAR=1M6D;DP=848;DPB=811.375;DPRA=0;EPP=727.749;EPPR=0;GTI=0;LEN=6;MEANALT=1;MQM=59.9858;MQMR=0;NS=1;NUMALT=1;ODDS=5351.65;PAIRED=0.988208;PAIREDR=0;PAO=1;PQA=11;PQR=0;PRO=0;QA=28872;QR=0;RO=0;RPP=1071.63;RPPR=0;RUN=1;SAF=679;SAP=669.048;SAR=169;SRF=0;SRP=0;SRR=0;TYPE=del;BVAR	GT:DP:RO:QR:AO:QA:GL	1:848:0:0:848:28872:-5,0
MN908947.3	22486	.	A	T	103499	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=3199;CIGAR=1X;DP=3209;DPB=3209;DPRA=0;EPP=7.03489;EPPR=3.25157;GTI=0;LEN=1;MEANALT=2;MQM=59.9609;MQMR=60;NS=1;NUMALT=1;ODDS=23831.6;PAIRED=0.834636;PAIREDR=1;PAO=0;PQA=0;PQR=0;PRO=0;QA=115570;QR=307;RO=9;RPP=158.754;RPPR=5.18177;RUN=1;SAF=1475;SAP=45.0964;SAR=1724;SRF=5;SRP=3.25157;SRR=4;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:3209:9:307:3199:115570:-5,0
MN908947.3	22917	.	T	G	67625	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=2095;CIGAR=1X;DP=2103;DPB=2103;DPRA=0;EPP=47.4234;EPPR=4.45795;GTI=0;LEN=1;MEANALT=3;MQM=59.9995;MQMR=60;NS=1;NUMALT=1;ODDS=15571.2;PAIRED=0.881623;PAIREDR=1;PAO=0;PQA=0;PQR=0;PRO=0;QA=75421;QR=118;RO=6;RPP=14.8772;RPPR=4.45795;RUN=1;SAF=917;SAP=73.6179;SAR=1178;SRF=0;SRP=16.0391;SRR=6;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:2103:6:118:2095:75421:-5,0
MN908947.3	22995	.	C	A	58800.3	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=1816;CIGAR=1X;DP=1817;DPB=1817;DPRA=0;EPP=44.3783;EPPR=5.18177;GTI=0;LEN=1;MEANALT=1;MQM=59.9923;MQMR=60;NS=1;NUMALT=1;ODDS=13539.3;PAIRED=0.852974;PAIREDR=1;PAO=0;PQA=0;PQR=0;PRO=0;QA=65491;QR=11;RO=1;RPP=20.8078;RPPR=5.18177;RUN=1;SAF=826;SAP=35.171;SAR=990;SRF=0;SRP=5.18177;SRR=1;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:1817:1:11:1816:65491:-5,0
MN908947.3	23403	.	A	G	239656	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=7374;CIGAR=1X;DP=7391;DPB=7391;DPRA=0;EPP=39.4972;EPPR=4.09604;GTI=0;LEN=1;MEANALT=3;MQM=59.9931;MQMR=60;NS=1;NUMALT=1;ODDS=55182.9;PAIRED=0.958096;PAIREDR=0.75;PAO=0;PQA=0;PQR=0;PRO=0;QA=266872;QR=270;RO=8;RPP=3.03975;RPPR=3.0103;RUN=1;SAF=4107;SAP=210.793;SAR=3267;SRF=5;SRP=4.09604;SRR=3;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:7391:8:270:7374:266872:-5,0
MN908947.3	23604	.	C	G	62507.9	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=1915;CIGAR=1X;DP=1919;DPB=1919;DPRA=0;EPP=19.6121;EPPR=0;GTI=0;LEN=1;MEANALT=2;MQM=59.9849;MQMR=0;NS=1;NUMALT=1;ODDS=14393;PAIRED=0.862141;PAIREDR=0;PAO=0;PQA=0;PQR=0;PRO=0;QA=69574;QR=0;RO=0;RPP=30.9605;RPPR=0;RUN=1;SAF=901;SAP=17.4894;SAR=1014;SRF=0;SRP=0;SRR=0;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:1919:0:0:1915:69574:-5,0
MN908947.3	24410	.	G	A	59674.8	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=2096;CIGAR=1X;DP=2263;DPB=2263;DPRA=0;EPP=320.978;EPPR=254.033;GTI=0;LEN=1;MEANALT=3;MQM=59.9747;MQMR=60;NS=1;NUMALT=1;ODDS=13740.6;PAIRED=0.837786;PAIREDR=0.8875;PAO=0;PQA=0;PQR=0;PRO=0;QA=73588;QR=5870;RO=160;RPP=9.31337;RPPR=239.484;RUN=1;SAF=392;SAP=1786.34;SAR=1704;SRF=2;SRP=333.291;SRR=158;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:2263:160:5870:2096:73588:-5,0
MN908947.3	25469	.	C	T	93090.7	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=2850;CIGAR=1X;DP=2857;DPB=2857;DPRA=0;EPP=3.52536;EPPR=3.0103;GTI=0;LEN=1;MEANALT=2;MQM=59.9832;MQMR=60;NS=1;NUMALT=1;ODDS=21434.9;PAIRED=0.88386;PAIREDR=0.833333;PAO=0;PQA=0;PQR=0;PRO=0;QA=103765;QR=222;RO=6;RPP=11.2512;RPPR=4.45795;RUN=1;SAF=1561;SAP=59.3802;SAR=1289;SRF=1;SRP=8.80089;SRR=5;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:2857:6:222:2850:103765:-5,0
MN908947.3	26107	.	G	C	36383.3	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=1215;CIGAR=1X;DP=1291;DPB=1291;DPRA=0;EPP=12.0197;EPPR=22.847;GTI=0;LEN=1;MEANALT=3;MQM=59.9679;MQMR=60;NS=1;NUMALT=1;ODDS=8377.55;PAIRED=0.818107;PAIREDR=1;PAO=0;PQA=0;PQR=0;PRO=0;QA=43233;QR=2676;RO=74;RPP=16.5378;RPPR=14.748;RUN=1;SAF=743;SAP=134.266;SAR=472;SRF=51;SRP=26.0162;SRR=23;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:1291:74:2676:1215:43233:-5,0
MN908947.3	26759	.	A	G	48416.8	.	AB=0;ABP=0;AC=1;AF=1;AN=1;AO=2374;CIGAR=1X;DP=3259;DPB=3259;DPRA=0;EPP=6.99469;EPPR=79.2728;GTI=0;LEN=1;MEANALT=2;MQM=59.9297;MQMR=60;NS=1;NUMALT=1;ODDS=11148.4;PAIRED=0.856361;PAIREDR=0.997732;PAO=0;PQA=0;PQR=0;PRO=0;QA=85776;QR=32144;RO=882;RPP=3.10177;RPPR=5.22609;RUN=1;SAF=1200;SAP=3.62863;SAR=1174;SRF=531;SRP=82.7787;SRR=351;TYPE=snp;BVAR	GT:DP:RO:QR:AO:QA:GL	1:3259:882:32144:2374:85776:-5,0

In [16]:
callset = allel.read_vcf('sample.vcf', fields='*')
sorted(callset.keys())

['calldata/AO',
 'calldata/DP',
 'calldata/GL',
 'calldata/GQ',
 'calldata/GT',
 'calldata/QA',
 'calldata/QR',
 'calldata/RO',
 'samples',
 'variants/AB',
 'variants/ABP',
 'variants/AC',
 'variants/AF',
 'variants/ALT',
 'variants/AN',
 'variants/AO',
 'variants/BVAR',
 'variants/CHROM',
 'variants/CIGAR',
 'variants/DP',
 'variants/DPB',
 'variants/DPRA',
 'variants/EPP',
 'variants/EPPR',
 'variants/FILTER_PASS',
 'variants/GTI',
 'variants/ID',
 'variants/LEN',
 'variants/MEANALT',
 'variants/MQM',
 'variants/MQMR',
 'variants/NS',
 'variants/NUMALT',
 'variants/ODDS',
 'variants/PAIRED',
 'variants/PAIREDR',
 'variants/PAO',
 'variants/POS',
 'variants/PQA',
 'variants/PQR',
 'variants/PRO',
 'variants/QA',
 'variants/QR',
 'variants/QUAL',
 'variants/REF',
 'variants/RO',
 'variants/RPP',
 'variants/RPPR',
 'variants/RUN',
 'variants/SAF',
 'variants/SAP',
 'variants/SAR',
 'variants/SRF',
 'variants/SRP',
 'variants/SRR',
 'variants/TYPE',
 'variants/altlen',
 'variants/is_snp',
 'variants/numalt']

In [17]:
callset['calldata/DP']

array([[ 1053],
       [ 1049],
       [ 1563],
       [ 4184],
       [ 1797],
       [ 9189],
       [ 1783],
       [ 1997],
       [ 1853],
       [ 1823],
       [ 1823],
       [ 9426],
       [21879],
       [16819],
       [ 3199],
       [ 5337],
       [ 7403],
       [ 9385],
       [ 6754],
       [ 2134],
       [ 1870],
       [  848],
       [ 3209],
       [ 2103],
       [ 1817],
       [ 7391],
       [ 1919],
       [ 2263],
       [ 2857],
       [ 1291],
       [ 3259],
       [ 3164]], dtype=int16)

In [19]:
gt = allel.GenotypeArray(callset['calldata/GT'])
gt.is_het()

array([[False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False]])

In [21]:
df = allel.vcf_to_dataframe('sample.vcf', fields='*', alt_number=2)
df

,CHROM,POS,ID,REF,ALT_1,ALT_2,QUAL,NS,DP,DPB,...,MQM_2,MQMR,PAIRED_1,PAIRED_2,PAIREDR,FILTER_PASS,numalt,altlen_1,altlen_2,is_snp
0,MN908947.3,210,.,G,T,NaN,33555.601562,1,1053,1053.000,...,NaN,60.000000,0.839354,NaN,1.000000,False,1,0,0,True
1,MN908947.3,241,.,C,T,NaN,33906.500000,1,1049,1049.000,...,NaN,60.000000,0.844317,NaN,1.000000,False,1,0,0,True
2,MN908947.3,3037,.,C,T,NaN,50108.699219,1,1563,1563.000,...,NaN,60.000000,0.825000,NaN,0.333333,False,1,0,0,True
3,MN908947.3,4181,.,G,T,NaN,136845.000000,1,4184,4184.000,...,NaN,60.000000,0.881551,NaN,0.000000,False,1,0,0,True
4,MN908947.3,4684,.,T,C,NaN,25246.300781,1,1797,1797.000,...,NaN,59.744202,0.782206,NaN,0.872123,False,1,0,0,True
5,MN908947.3,6402,.,C,T,NaN,290010.000000,1,9189,9189.000,...,NaN,60.000000,0.967710,NaN,1.000000,False,1,0,0,True
6,MN908947.3,7124,.,C,T,NaN,57994.500000,1,1783,1783.000,...,NaN,60.000000,0.862360,NaN,0.000000,False,1,0,0,True
7,MN908947.3,8752,.,C,T,NaN,49285.300781,1,1997,1997.000,...,NaN,60.000000,0.855353,NaN,0.974790,False,1,0,0,True
8,MN908947.3,8986,.,C,T,NaN,58408.500000,1,1853,1853.000,...,NaN,0.000000,0.885467,NaN,0.000000,False,1,0,0,True
9,MN908947.3,9053,.,G,T,NaN,59316.699219,1,1823,1823.000,...,NaN,60.000000,0.884552,NaN,1.000000,False,1,0,0,True
10,MN908947.3,10029,.,C,T,NaN,59096.699219,1,1823,1823.000,...,NaN,0.000000,0.880154,NaN,0.000000,False,1,0,0,True
11,MN908947.3,11201,.,A,G,NaN,306107.000000,1,9426,9426.000,...,NaN,60.000000,0.974084,NaN,1.000000,False,1,0,0,True
12,MN908947.3,11332,.,A,G,NaN,692763.000000,1,21879,21879.000,...,NaN,60.000000,0.940786,NaN,0.000000,False,1,0,0,True
13,MN908947.3,11663,.,C,T,NaN,163741.000000,1,16819,16819.000,...,NaN,59.991600,0.996228,NaN,0.805260,False,1,0,0,True
14,MN908947.3,14408,.,C,T,NaN,102989.000000,1,3199,3199.000,...,NaN,60.000000,0.819349,NaN,1.000000,False,1,0,0,True
15,MN908947.3,15451,.,G,A,NaN,173250.000000,1,5337,5337.000,...,NaN,60.000000,0.949229,NaN,1.000000,False,1,0,0,True
16,MN908947.3,16466,.,C,T,NaN,221414.000000,1,7403,7403.000,...,NaN,60.000000,0.817615,NaN,0.400000,False,1,0,0,True
17,MN908947.3,17236,.,A,G,NaN,150382.000000,1,9385,9385.000,...,NaN,59.995800,0.994145,NaN,0.844472,False,1,0,0,True
18,MN908947.3,19220,.,C,T,NaN,212634.000000,1,6754,6754.000,...,NaN,60.000000,0.957024,NaN,0.750000,False,1,0,0,True
19,MN908947.3,20451,.,C,T,NaN,56280.398438,1,2134,2134.000,...,NaN,60.000000,0.729069,NaN,0.941748,False,1,0,0,True
20,MN908947.3,21618,.,C,G,NaN,60068.300781,1,1870,1870.000,...,NaN,0.000000,0.869309,NaN,0.000000,False,1,0,0,True
21,MN908947.3,22028,.,GAGTTCA,G,NaN,23241.900391,1,848,811.375,...,NaN,0.000000,0.988208,NaN,0.000000,False,1,-6,0,False
22,MN908947.3,22486,.,A,T,NaN,103499.000000,1,3209,3209.000,...,NaN,60.000000,0.834636,NaN,1.000000,False,1,0,0,True
23,MN908947.3,22917,.,T,G,NaN,67625.000000,1,2103,2103.000,...,NaN,60.000000,0.881623,NaN,1.000000,False,1,0,0,True
24,MN908947.3,22995,.,C,A,NaN,58800.300781,1,1817,1817.000,...,NaN,60.000000,0.852974,NaN,1.000000,False,1,0,0,True
25,MN908947.3,23403,.,A,G,NaN,239656.000000,1,7391,7391.000,...,NaN,60.000000,0.958096,NaN,0.750000,False,1,0,0,True
26,MN908947.3,23604,.,C,G,NaN,62507.898438,1,1919,1919.000,...,NaN,0.000000,0.862141,NaN,0.000000,False,1,0,0,True
27,MN908947.3,24410,.,G,A,NaN,59674.800781,1,2263,2263.000,...,NaN,60.000000,0.837786,NaN,0.887500,False,1,0,0,True
28,MN908947.3,25469,.,C,T,NaN,93090.703125,1,2857,2857.000,...,NaN,60.000000,0.883860,NaN,0.833333,False,1,0,0,True
29,MN908947.3,26107,.,G,C,NaN,36383.300781,1,1291,1291.000,...,NaN,60.000000,0.818107,NaN,1.000000,False,1,0,0,True
30,MN908947.3,26759,.,A,G,NaN,48416.800781,1,3259,3259.000,...,NaN,60.000000,0.856361,NaN,0.997732,False,1,0,0,True
31,MN908947.3,26767,.,T,C,NaN,102266.000000,1,3164,3164.000,...,NaN,60.000000,0.899652,NaN,0.000000,False,1,0,0,True

In [24]:
list(df.columns)

['CHROM',
 'POS',
 'ID',
 'REF',
 'ALT_1',
 'ALT_2',
 'QUAL',
 'NS',
 'DP',
 'DPB',
 'AC_1',
 'AC_2',
 'AN',
 'AF_1',
 'AF_2',
 'RO',
 'AO_1',
 'AO_2',
 'PRO',
 'PAO_1',
 'PAO_2',
 'QR',
 'QA_1',
 'QA_2',
 'PQR',
 'PQA_1',
 'PQA_2',
 'SRF',
 'SRR',
 'SAF_1',
 'SAF_2',
 'SAR_1',
 'SAR_2',
 'SRP',
 'SAP_1',
 'SAP_2',
 'AB_1',
 'AB_2',
 'ABP_1',
 'ABP_2',
 'RUN_1',
 'RUN_2',
 'RPP_1',
 'RPP_2',
 'RPPR',
 'EPP_1',
 'EPP_2',
 'EPPR',
 'DPRA_1',
 'DPRA_2',
 'ODDS',
 'BVAR',
 'GTI',
 'TYPE_1',
 'TYPE_2',
 'CIGAR_1',
 'CIGAR_2',
 'NUMALT',
 'MEANALT_1',
 'MEANALT_2',
 'LEN_1',
 'LEN_2',
 'MQM_1',
 'MQM_2',
 'MQMR',
 'PAIRED_1',
 'PAIRED_2',
 'PAIREDR',
 'FILTER_PASS',
 'numalt',
 'altlen_1',
 'altlen_2',
 'is_snp']

In [25]:
df.query('DP > 10 and QUAL > 20')

,CHROM,POS,ID,REF,ALT_1,ALT_2,QUAL,NS,DP,DPB,...,MQM_2,MQMR,PAIRED_1,PAIRED_2,PAIREDR,FILTER_PASS,numalt,altlen_1,altlen_2,is_snp
0,MN908947.3,210,.,G,T,NaN,33555.601562,1,1053,1053.000,...,NaN,60.000000,0.839354,NaN,1.000000,False,1,0,0,True
1,MN908947.3,241,.,C,T,NaN,33906.500000,1,1049,1049.000,...,NaN,60.000000,0.844317,NaN,1.000000,False,1,0,0,True
2,MN908947.3,3037,.,C,T,NaN,50108.699219,1,1563,1563.000,...,NaN,60.000000,0.825000,NaN,0.333333,False,1,0,0,True
3,MN908947.3,4181,.,G,T,NaN,136845.000000,1,4184,4184.000,...,NaN,60.000000,0.881551,NaN,0.000000,False,1,0,0,True
4,MN908947.3,4684,.,T,C,NaN,25246.300781,1,1797,1797.000,...,NaN,59.744202,0.782206,NaN,0.872123,False,1,0,0,True
5,MN908947.3,6402,.,C,T,NaN,290010.000000,1,9189,9189.000,...,NaN,60.000000,0.967710,NaN,1.000000,False,1,0,0,True
6,MN908947.3,7124,.,C,T,NaN,57994.500000,1,1783,1783.000,...,NaN,60.000000,0.862360,NaN,0.000000,False,1,0,0,True
7,MN908947.3,8752,.,C,T,NaN,49285.300781,1,1997,1997.000,...,NaN,60.000000,0.855353,NaN,0.974790,False,1,0,0,True
8,MN908947.3,8986,.,C,T,NaN,58408.500000,1,1853,1853.000,...,NaN,0.000000,0.885467,NaN,0.000000,False,1,0,0,True
9,MN908947.3,9053,.,G,T,NaN,59316.699219,1,1823,1823.000,...,NaN,60.000000,0.884552,NaN,1.000000,False,1,0,0,True
10,MN908947.3,10029,.,C,T,NaN,59096.699219,1,1823,1823.000,...,NaN,0.000000,0.880154,NaN,0.000000,False,1,0,0,True
11,MN908947.3,11201,.,A,G,NaN,306107.000000,1,9426,9426.000,...,NaN,60.000000,0.974084,NaN,1.000000,False,1,0,0,True
12,MN908947.3,11332,.,A,G,NaN,692763.000000,1,21879,21879.000,...,NaN,60.000000,0.940786,NaN,0.000000,False,1,0,0,True
13,MN908947.3,11663,.,C,T,NaN,163741.000000,1,16819,16819.000,...,NaN,59.991600,0.996228,NaN,0.805260,False,1,0,0,True
14,MN908947.3,14408,.,C,T,NaN,102989.000000,1,3199,3199.000,...,NaN,60.000000,0.819349,NaN,1.000000,False,1,0,0,True
15,MN908947.3,15451,.,G,A,NaN,173250.000000,1,5337,5337.000,...,NaN,60.000000,0.949229,NaN,1.000000,False,1,0,0,True
16,MN908947.3,16466,.,C,T,NaN,221414.000000,1,7403,7403.000,...,NaN,60.000000,0.817615,NaN,0.400000,False,1,0,0,True
17,MN908947.3,17236,.,A,G,NaN,150382.000000,1,9385,9385.000,...,NaN,59.995800,0.994145,NaN,0.844472,False,1,0,0,True
18,MN908947.3,19220,.,C,T,NaN,212634.000000,1,6754,6754.000,...,NaN,60.000000,0.957024,NaN,0.750000,False,1,0,0,True
19,MN908947.3,20451,.,C,T,NaN,56280.398438,1,2134,2134.000,...,NaN,60.000000,0.729069,NaN,0.941748,False,1,0,0,True
20,MN908947.3,21618,.,C,G,NaN,60068.300781,1,1870,1870.000,...,NaN,0.000000,0.869309,NaN,0.000000,False,1,0,0,True
21,MN908947.3,22028,.,GAGTTCA,G,NaN,23241.900391,1,848,811.375,...,NaN,0.000000,0.988208,NaN,0.000000,False,1,-6,0,False
22,MN908947.3,22486,.,A,T,NaN,103499.000000,1,3209,3209.000,...,NaN,60.000000,0.834636,NaN,1.000000,False,1,0,0,True
23,MN908947.3,22917,.,T,G,NaN,67625.000000,1,2103,2103.000,...,NaN,60.000000,0.881623,NaN,1.000000,False,1,0,0,True
24,MN908947.3,22995,.,C,A,NaN,58800.300781,1,1817,1817.000,...,NaN,60.000000,0.852974,NaN,1.000000,False,1,0,0,True
25,MN908947.3,23403,.,A,G,NaN,239656.000000,1,7391,7391.000,...,NaN,60.000000,0.958096,NaN,0.750000,False,1,0,0,True
26,MN908947.3,23604,.,C,G,NaN,62507.898438,1,1919,1919.000,...,NaN,0.000000,0.862141,NaN,0.000000,False,1,0,0,True
27,MN908947.3,24410,.,G,A,NaN,59674.800781,1,2263,2263.000,...,NaN,60.000000,0.837786,NaN,0.887500,False,1,0,0,True
28,MN908947.3,25469,.,C,T,NaN,93090.703125,1,2857,2857.000,...,NaN,60.000000,0.883860,NaN,0.833333,False,1,0,0,True
29,MN908947.3,26107,.,G,C,NaN,36383.300781,1,1291,1291.000,...,NaN,60.000000,0.818107,NaN,1.000000,False,1,0,0,True
30,MN908947.3,26759,.,A,G,NaN,48416.800781,1,3259,3259.000,...,NaN,60.000000,0.856361,NaN,0.997732,False,1,0,0,True
31,MN908947.3,26767,.,T,C,NaN,102266.000000,1,3164,3164.000,...,NaN,60.000000,0.899652,NaN,0.000000,False,1,0,0,True

In [29]:
numalt = callset['variants/numalt']
np.min(numalt)

1

In [30]:
count_numalt = np.bincount(numalt)
count_numalt

array([ 0, 32])

In [31]:
n_multiallelic = np.sum(count_numalt[2:])
n_multiallelic

0

In [34]:
#higher SRP/SAP means better site (lower strand bias)
df[['SRF', 'SRR', 'SAF_1', 'SAF_2', 'SAR_1', 'SAR_2', 'SRP', 'SAP_1', 'SAP_2']]

     SRF   SRR  SAF_1  SAF_2  SAR_1  SAR_2          SRP        SAP_1  SAP_2
0      1     0    647     -1    405     -1     5.181770   123.893997    NaN
1      1     1    599     -1    448     -1     3.010300    50.299500    NaN
2      0     3    809     -1    751     -1     9.524720     7.692890    NaN
3      1     1   2253     -1   1926     -1     3.010300    58.572201    NaN
4    348    43   1338     -1     67     -1   519.637024  2499.729980    NaN
5      2     3   2807     -1   6360     -1     3.444590  2993.330078    NaN
6      3     0    791     -1    989     -1     9.524720    50.836399    NaN
7    124   114    742     -1   1014     -1     3.922680    94.499001    NaN
8      0     0   1211     -1    640     -1     0.000000   385.500000    NaN
9      0     1    918     -1    901     -1     5.181770     3.355300    NaN
10     0     0    872     -1    947     -1     0.000000     9.725270    NaN
11     2     0   4815     -1   4600     -1     7.353240    13.671600    NaN
12     1     0   8058     -1  13778     -1     5.181770  3256.679932    NaN
13   962  4969   7542     -1   3328     -1  5881.490234  3550.439941    NaN
14     3     0   1452     -1   1742     -1     9.524720    60.186501    NaN
15     0    10   2363     -1   2955     -1    24.725000   146.113998    NaN
16     3     2   3696     -1   3684     -1     3.444590     3.052670    NaN
17  1083  1296   3738     -1   3264     -1    44.421600    72.687202    NaN
18     0     4   1591     -1   5157     -1    11.696200  4095.070068    NaN
19    74   132   1106     -1    817     -1    38.470699    97.323097    NaN
20     0     0   1003     -1    864     -1     0.000000    25.482201    NaN
21     0     0    679     -1    169     -1     0.000000   669.047974    NaN
22     5     4   1475     -1   1724     -1     3.251570    45.096401    NaN
23     0     6    917     -1   1178     -1    16.039101    73.617897    NaN
24     0     1    826     -1    990     -1     5.181770    35.171001    NaN
25     5     3   4107     -1   3267     -1     4.096040   210.792999    NaN
26     0     0    901     -1   1014     -1     0.000000    17.489401    NaN
27     2   158    392     -1   1704     -1   333.290985  1786.339966    NaN
28     1     5   1561     -1   1289     -1     8.800890    59.380199    NaN
29    51    23    743     -1    472     -1    26.016199   134.266006    NaN
30   531   351   1200     -1   1174     -1    82.778702     3.628630    NaN
31     0     1   1656     -1   1503     -1     5.181770    19.101500    NaN